.contenedor {
    border: 2px solid black;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.item1 {
    background: red;
    color: white;
}
.item2 {
    background: blue;
    color: white;
}
.item3 {
    background:green;
    color: white;
}